@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    font-family: "Source Code Pro";
    /* text-align: justify; */
}
.body {
    /* border-style: solid; */
    width: 60%;
    margin: auto;
}
.body h1 {
    font-size: 64px;
}
.body p {
    font-size: 20px;
}
.body li {
    font-size: 20px;
}
code {
    font-size: 20px;
}
a {
    color: limegreen;
}