@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    font-family: "Source Code Pro";
    /* text-align: justify; */
}
.body {
    /* border-style: solid; */
    width: 60%;
    margin: auto;
}
.body h1 {
    font-size: 64px;
}
.body h2 {
    font-size: 40px;
}
.body p {
    font-size: 20px;
}
.body li {
    font-size: 20px;
}
pre {
    background-color: #f1f7ff;
    border-radius: 15px;
    padding-inline: 15px;
}
code {
    font-size: 20px;
    background-color: #f1f7ff;
    padding: 3px;
}
pre code {
    background-color: transparent;
}
a {
    color: limegreen;
}