.head {
    background-color: #033056;
    height: 8vh;
}
.nav {
    width: 15vw;
    position: fixed;
    /* border-style: solid; */
    padding-left: 50px;
    margin-top: 50px;
    height: 85vh;
    overflow-y: auto;
}
.nav a {
    color: black;
    text-decoration: none;
}
.nav a:hover {
    color: limegreen;
    transition: 0.2s;
}