.head {
    background-color: pink;
    height: 50px;
}
.nav {
    width: 15%;
    position: fixed;
    /* border-style: solid; */
    padding-left: 50px;
    margin-top: 50px;
    height: 85%;
    overflow-y: auto;
}
.nav a {
    color: black;
    text-decoration: none;
}
.nav a:hover {
    color: limegreen;
    transition: 0.2s;
}